body {
  font-family: 'Open Sans', sans-serif;
}

.header {
    width: inherit;
    overflow: hidden;
    background: #313c53;
    font-size: 3em;
    font-family: inherit;
    color: white;
    text-align: center;
    padding: 30px;
    overflow: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
    font-family: inherit;
    background: #f7f7f5;
    padding: 30px;
    overflow: inherit;
}

.action-bar {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.button {
    background-color: #FF4436;
    border: none;
    color: white;
    padding: 10px 20px;
    font-family: inherit;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.data-table {
    width: 100%;
}

th {
    cursor: pointer;
}
