<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/web/static/style.css?{{.CSSVer}}">
        <meta http-equiv="refresh" content="10" />
    </head>
    <body>
      <div class="header">
        {{.PageTitle}}
      </div>
      <div class="main">
        <div class="action-bar">
          <div><button onclick=repop()>Repopulate</button></div>
          <div><button onclick=refresh()>Refresh Race Stats</button></div>

        </div>
        <div>
          <table id="constructors" class="data-table" border="1" frame="void" rules="all" cellspacing="0" cellpadding="5">
            <tr>
              <th>Constructor Name</th>
              <th>Nationality</th>
              <th>Years Active</th>
              <th>Constructors Titles</th>
              <th>Win Rate</th>
            </tr>
            {{range .Constructors}}
            <tr>
              <td><a href="{{.URL}}">{{.Name}}</a></td>
              <td>{{.Nationality}}</td>
              <td>{{.YearsActiveH}}</td>
              <td>
                  {{.ConTitleCount}}:
                  {{range .ConstructorsTitles}}
                    {{.}},
                  {{end}}
              </td>
              <td>{{.WinRateH}}</td>
            </tr>
            {{end}}
          </table>
        </div>
      </div>
      <script>
        //stolen from https://stackoverflow.com/questions/14267781/sorting-html-table-with-javascript
        const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

        const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
          v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
          )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

        // do the work...
        document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
          const table = th.closest('table');
          Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
              .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
              .forEach(tr => table.appendChild(tr) );
        })));

        // get new data from ergast
        function repop() {
          httpGetAsync("/repop", "/")
        }

        // get new race data from ergast
        function refresh() {
          httpGetAsync("/refresh", "/")
        }

        function httpGetAsync(theUrl, callback) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function() {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                    callback(xmlHttp.responseText);
            }
            xmlHttp.open("GET", theUrl, true); // true for asynchronous
            xmlHttp.send(null);
        }
      </script>
    </body>
</html>
