<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/web/static/style.css?{{.CSSVer}}">
        <script type="text/JavaScript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/plug-ins/1.10.20/sorting/natural.js"></script>
    </head>
    <body>
      <div class="header">
        {{.PageTitle}}
      </div>
      <div class="main">
        <div class="action-bar">
          <div><button class="button" onclick=repop()>Repopulate</button></div>
          <div><button class="button" onclick=refresh()>Refresh Race Stats</button></div>

        </div>
        <div>
          <table id="constructors" class="data-table" border="1" frame="void" rules="all" cellspacing="0" cellpadding="5">
            <thead>
              <tr>
                <th>Constructor Name</th>
                <th>Nationality</th>
                <th>Years Active</th>
                <th>Constructors Titles</th>
                <th>Win Rate</th>
              </tr>
            </thead>
            <tbody>
              {{range .Constructors}}
              <tr>
                <td><a href="{{.URL}}">{{.Name}}</a></td>
                <td><img src="{{.Flag}}" class="flag" alt="team national flag">{{.Nationality}}</td>
                <td>{{.YearsActiveH}}</td>
                <td>
                    {{.ConTitleCount}}:
                    {{range .ConstructorsTitles}}
                      {{.}},
                    {{end}}
                </td>
                <td>{{.WinRateH}}</td>
              </tr>
              {{end}}
          </tbody>
          </table>
        </div>
      </div>
      <script>
        // init datatables for sorting
        $(document).ready( function () {
          $('#constructors').DataTable({
            "paging":   false,
            "columns": [
              null,
              null,
              { "type": "natural" },
              { "type": "natural" },
              { "type": "natural" }
            ],
            "order": [[ 3, 'desc' ], [ 4, 'desc' ]]
          });
        } );

        // get new data from ergast
        function repop() {
          httpGetAsync("/repop", "/")
        }

        // get new race data from ergast
        function refresh() {
          httpGetAsync("/refresh", "/")
        }

        function httpGetAsync(theUrl, callback) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function() {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                    callback(xmlHttp.responseText);
            }
            xmlHttp.open("GET", theUrl, true); // true for asynchronous
            xmlHttp.send(null);
        }
      </script>
    </body>
</html>
